export(
"canon.scores",
"check.arguments",
"deflate.x",
"hosvd",
"mcca.init.random",
"mcca.init.cca",
"mcca.init.svd",
"mcca.cor",
"mcca.cov",
"objective.cor",
"objective.cov",
"objective.gradient",
"permutation.test",
"scale.v",
"simulate.factor.model",
"tnsr.mat.prod",
"tnsr.vec.prod",
"tnsr3d.rk1",
"tnsr.rk1",
"tnsr.rk1.cp",
"tnsr.rk1.expand",
"tnsr.rk1.nrm"
)
importFrom("MASS", "ginv")
importFrom("parallel", "mclapply")
importFrom("RSpectra", "svds", "eigs_sym")
importFrom("geigen", "geigen")
