export("check.arguments", "deflate.x", "hosvd", "image.scores", "MCCA.init.random", "MCCA.init.cca", "MCCA.init.svd", "MCCA.cor", "MCCA.cov", "objective.cor", "objective.cov", "permutation.test", "scale.v", "tnsr3d.rk1")
importFrom("MASS", "ginv")
importFrom("parallel", "mclapply")
importFrom("RSpectra", "svds", "eigs_sym")
importFrom("geigen", "geigen")
